<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.usecases.mybatis.model.Restaurant" alias="Restaurant"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.Customer" alias="Customer"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.Dish" alias="Dish"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.Order" alias="Order"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.OrdersDishes" alias="OrdersDishes"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <!--<property name="data_source" value="java:global/StudentsDataSource"/>-->
                <property name="data_source" value="openejb:Resource/StudentsDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/xml/RestaurantMapper.xml"/>
        <mapper resource="mybatis/xml/CustomerMapper.xml"/>
        <mapper resource="mybatis/xml/DishMapper.xml"/>
        <mapper resource="mybatis/xml/OrderMapper.xml"/>
        <mapper resource="mybatis/xml/OrdersDishesMapper.xml"/>
    </mappers>
</configuration>